  .column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
  }

  .container {
    position: relative;
  }
  
  .center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }